    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乘龙网站-------帅子非商业用途</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/model.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<!--header的创建，logo,导航，搜索框-->
<div class="main clear main1" id="header">
</div>

    <!--第一层楼/轮播图 左右切换的小图标 过渡-->
<div class="main">
    <div class="global-site">
        <div id="banner" class="clear">
            <!--轮播图-->
            <ul id="banner-ul">
               <!--<li><img src="/img/15010388391452.jpg" alt=""></li>-->
                <!--<li><img src="/img/14823879805808.jpg" alt=""></li>-->
                <!--<li><img src="/img/14823880578080.jpg" alt=""></li>-->
            </ul>
            <!--左右切换的小图标-->
            <div class="ck-left ck-slide" data-move="left">
                <img src="/img/left1.png" alt="">
            </div>
            <div class="ck-right ck-slide" data-move="right">
                <img src="/img/right1.png" alt="">
            </div>
            <!--导航小圆点-->
            <ul class="indicators" data-load="bannerInds">
            <!-- <li></li> -->
            </ul>
        </div>


        <!--第一层楼/-->

        <div id="floor-1" class="floor">
            <!--<img src="/img/hotcar.jpg" alt="" class="imgpos">-->
            <!--<img src="/img/hotcar_t7.png" class="imgPosition-1" alt="">-->
            <!--<img src="/img/hotcar_h7.png" class="imgPosition-2" alt="">-->
            <!--<img src="/img/hotcar_m3.png" class="imgPosition-3" alt="">-->
        </div>
        <!--第二层楼/车型选择-->

    <div id="second" class="floor">
            <!--1.车型选择-->
        <h2>车型选择</h2>
        <!--3.车型图 -->
				        <div class="banner">
            <div class="container">
                <!--点击滚动条-->

                <div class="container-top">
                    <!--1楼-->
                    <div class="container-list">
                    <a href="/details?productId=1" class="hover">
                        <div>
                            <span>全新 H7乘龙车</span>
                        </div>
                    </a>
                    <div><img src="/img/coolCarImg/1.png" alt=""></div>
                    </div>
                    <!--2楼-->
                    <div class="container-list">
                        <a href="/details?productId=7">
                            <div>
                                <span>乘龙 7系</span>
                            </div>
                        </a>
                        <div><img src="/img/coolCarImg/2.png" alt=""></div>
                    </div>
                    <!--3楼-->
                    <div class="container-list">
                        <a href="/details?productId=25">
                            <div>
                                <span>新乘龙 X1</span>
                            </div>
                        </a>
                        <div><img src="/img/coolCarImg/3.png" alt=""></div>
                    </div>
                    <!--4楼-->
                    <div class="container-list">
                        <a href="/details?productId=17">
                            <div>
                                <span>全新乘龙 5系</span>
                            </div>
                        </a>
                        <div><img src="/img/coolCarImg/4.png" alt=""></div>
                    </div>
                    <!--5楼-->
                    <div class="container-list">
                        <a href="/details?productId=2">
                            <div>
                                <span>乘龙 H5</span>
                            </div>
                        </a>
                       <div><img src="/img/coolCarImg/5.png" alt=""></div>
                    </div>

                </div>
                <!--滚动内容-->
                <div class="container-detail">
                    <div id="box">
                        <img src="/img/coolCarImg/1.jpg" alt="" class="detail-img1">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                     <div class="text">
                        <ul class="pay">
                            <li><a href="#" class="color1">现金</a></li>
                            <li  class="hover"><a class="color2" href="#">贷款方案</a></li>
                        </ul>
                         <div class="price">
                             <h2>￥ 320000~1200000</h2>
                             <p id="d1">考虑节省的牌照费用和燃油费</p>
 <p id="d3">大扭矩+直接档+小速比</p><p id="d4">动力传输系统匹配优化，实现体系节油，燃烧雾化更好，更充分</p>
  <p id="d2">估计5年能够节省的燃油费(<a href="#">了解更多</a>)</p>

                         </div>
                         <div class="prepay"><img src="/img/2017-12-22_004156.png" alt="" id="img1">
<p>预计交付时间： 2月下旬</p>
                         </div>
                         <div class="order"><p>订购热线：8888-888888</p></div>
                     </div>
                </div>
            </div>
        </div>
   
		</div>

        <!--第三层楼/新闻与活动-->
        <div id="floor-3" class="floor">
            <!--1.新闻与活动-->
            <div class="newsTitle">
                新闻与活动
            </div>
            <!--2.活动的一些照片-->
            <div class="newsImg">
               <div>
                   <img src="/img/15054600336513.png" alt="">
                   <div>大国品牌，卡车力量：乘龙军团集结东盟博览会！ </div>
               </div>
               <div>
                   <img src="/img/15054599066545.png" alt="">
                   <div>创新引领卫冕之路，乘龙双雄夺2017卡赛年度总冠军！ </div>
               </div>
               <div>
                   <img src="/img/15021802704543.jpg" alt="">
                   <div>大国品牌，卡车力量：乘龙军团集结东盟博览会！ </div>
               </div>
               <div>
                   <img src="/img/15005400548288.png" alt="">
                   <div>实力派新乘龙M3  城际物流的不二之选 </div>
               </div>
            </div>
        </div>
        <!-- 滚动列表 -->
        <div id=lift>
            <ul class="lift_list">
                <li class="lift_item">
                    <a href="#" class="lift_btn">
                        <span class="lift_btn_txt">首页推荐</span>
                    </a>
                </li>
                 <li class="lift_item">
                    <a href="#" class="lift_btn">
                        <span class="lift_btn_txt">车型选择</span>
                    </a>
                </li>
                 <li class="lift_item">
                    <a href="#" class="lift_btn">
                        <span class="lift_btn_txt">新闻活动</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--固定定位的横向横拉列表-->
            <!--1.楼 预约试驾-->
        <div class="fix-list">
                <ul class="list-ul">
                    <li>
                        <a href="/testDrive"></a>
                        <span>预约试驾</span>
                    </li>
                    <li>
                        <a href="/testDrive"></a>
                        <span>经销商查询</span>
                    </li>
                    <li>
                        <a href="/list?kw="></a>
                        <span>购车选择</span>
                    </li>
                    <li>
                        <a href="/testDrive"></a>
                        <span>服务网点</span>
                    </li>
                    <li>
                        <a href="#"></a>
                        <span>配件查询</span>
                    </li>
                    <li>
                        <a href="#"></a>
                        <span>正品配件识别</span>
                    </li>
                </ul>
            </div>
    </div>
</div>


    <!--footer-->
<div class="main main2" id="footer-1">
</div>
<script src="/js/ajax.js"></script>
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/header.js"></script>
<!--<script src="/js/headerTop.js"></script>-->
<script src="/js/index.js"></script>
<script src="/js/smallBanner.js"></script>
<script src="/js/footer.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(function() {
        $('#myModal').modal({
            keyboard: true
        })
    });
</script>



</body>
</html>