<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Document</title>
 <link rel="stylesheet" href="css/base.css">
 <link rel="stylesheet" href="css/product.css">	
</head>
 <body>
		<div class="main">
			<!-- 表头 -->
			<div id="header" class="clear main1"></div>
			<img src="img/banner.jpg" alt="">
			<!-- 车型展厅 -->
			<div class="show-car">
				<h1>车 型 展 厅</h1>
				<a href=""><img src="img/gohome.png" alt=""> &gt; 车型展厅</a>
			</div>
				<!-- 车型导航栏 -->
				<div class="nav">
					<div class="box">
						<ul class="tabs">
							<li><a href="#">牵引车</a></li>
							<li><a href="#">载货车</a></li>
							<li><a href="#">工程车</a></li>
							<li><a href="#">专用车</a></li>
						</ul>
					</div>
				</div>
			<!-- 页尾 -->
			<div class="main2" id="footer-1">
		</div>
			</div>
	<script src="js/ajax.js"></script>
	<script src="js/header.js"></script>
	<script src="js/footer.js"></script>
 </body>
</html>
