<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/Details.css">
    <link rel="stylesheet" href="css/model.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<!--header-->
<div class="main clear main1" id="header">
</div>
    <!--1.整个body页面的div-->
    <div class="center main">
        <!--1.0、面包屑导航 ：#bread-crumb -->
      <div class="car-details">
        <div class="bread-crumb">
            <a href="javascript:location='index';">首页</a>
            <span>&gt;乘龙车列表</span>

            <span>&gt;乘龙车详情</span>

            <span>&gt;</span>
            <span id="fname"></span>
        </div>
        <!--1.1.放大镜效果 和价格详情div-->
     <div class="contains">
      <div class="preview">
        <div class="bigMirror">
            <!--<img src="img/shopingDetails/shopping/14743555487110.jpg" class="mImg" alt="">-->
            <div class="mask"></div>
            <div class="superMask"></div>
        </div>
        <div class="largeDiv"></div>
        <h1>
            <!--<a class="backward disabled"></a>-->
            <!--<a class="forward"></a>-->
            <ul class="icon_list">
                   <!--<li class="i1"><img src="${pic.sm}" data-md="${pic.md}" data-lg="${pic.lg}"></li>-->
                <!--<li><img src="img/shopingDetails/shopping/14743555487110.jpg" data-md="img/shopingDetails/shopping/14743555487110.jpg" alt=""></li>-->
                <!--<li><img src="img/shopingDetails/shopping/14743555592796.jpg" data-md="img/shopingDetails/shopping/14743555592796.jpg" alt=""></li>-->
                <!--<li><img src="img/shopingDetails/shopping/14743556089731.jpg" data-md="img/shopingDetails/shopping/14743556089731.jpg" alt=""></li>-->
                <!--<li><img src="img/shopingDetails/shopping/14743556209680.jpg" data-md="img/shopingDetails/shopping/14743556209680.jpg" alt=""></li>-->
                <!--<li><img src="img/shopingDetails/shopping/14743556314413.jpg" data-md="img/shopingDetails/shopping/14743556314413.jpg" alt=""></li>-->
            </ul>
        </h1>
      </div>
          <!--1.2.车辆具体情况-->
        <div class="detail">
          <div class="detailTitle">
              <!--<p class="title">东风天龙 牵引车 420匹Φ395(发动机带)</p>-->
              <!--<p class="code"> 信息编号:20171203020805274466527280</p>-->
          </div>
          <div class="detailPrice">
              <!--<p class="price">&yen;319999.00</p>-->
              <!--<p class="service">车辆已进行官方认证,享受以下服务 :-->
                  <!--<a href="#">详情</a><img src="img/shopingDetails/gt.png" alt="">-->
              <!--</p>-->
              <!--<p class="serviceDetails">-->
                  <!--<img src="img/shopingDetails/2017-12-20_133108.png" alt=""/><span>15天可退</span>-->
                  <!--<img src="img/shopingDetails/2017-12-20_133108.png" alt=""/><span>首付20%</span>-->
                  <!--<img src="img/shopingDetails/2017-12-20_133108.png" alt=""/><span>配件严格检测</span>-->
              <!--</p>-->
          </div>
            <p id="pp">选择品系:</p>
            <div class="selectClass">
                <div><a href="#">驾驶室</a></div>
                <div><a href="#">排放标准</a></div>
                <div><a href="#">发动机</a></div>
                <div><a href="#">驱动形式</a></div>
            </div>
						<div class="order"><p>订购热线：8888-888888</p></div>

        </div>
     </div>
          <!--车型图片-->
       <div class="imgContainer">
           <div class="imgTitle">
                车型图片
           </div>
           <ul class="imgList">
               <!--<li class="no1"><img src="img/shopingDetails/shopping/14743526106016.jpg" alt=""></li>-->
               <!--<li class="no2"><img src="img/shopingDetails/shopping/14743526479911.jpg" alt=""></li>-->
               <!--<li class="no3"><img src="img/shopingDetails/shopping/14743526791061.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743528041612.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743528284895.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743528456943.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743528638748.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743528831370.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743529025905.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743529181461.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743529353481.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743529552841.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743529832760.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743530009866.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743530156800.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743530361877.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743530557135.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743530776427.jpg" alt=""></li>-->
               <!--<li><img src="img/shopingDetails/shopping/14743531049652.jpg" alt=""></li>-->
           </ul>
       </div>
       <div class="img-list">
           <!--<img src="img/carDetail/14804108191797.jpg" alt=""><img src="img/carDetail/14804108275889.jpg" alt="">-->
       </div>   
      </div>
    </div>
<!--footer-->
<div class="main main2" id="footer-1">
</div>
<script src="js/ajax.js"></script>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/header.js"></script>
<script src="js/shoppingDetails.js"></script>
<script src="js/footer.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(function() {
        $('#myModal').modal({
            keyboard: true
        })
    });
</script>
</body>
</html>